<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
      <!--<add name="BashBookEntities" connectionString="metadata=res://*/BashBookModel.csdl|res://*/BashBookModel.ssdl|res://*/BashBookModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.92.235.202;initial catalog=BashBook;persist security info=True;user id=MCN_USER;password=MCNu$3r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BashBookEntities" connectionString="metadata=res://*/BashBookModel.csdl|res://*/BashBookModel.ssdl|res://*/BashBookModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BashBook;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
